.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Main-Title {
  margin: 4rem 0;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .15rem;
  color: #f9e713;
  width: 100%;
}

.Edit {
  height: 3vh;
  float: right;
  margin-right: 10vw;
  font-size: 1.7rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #f9e713;
  background-color: transparent;
}

.ProfilePic {
  object-fit: cover;
}
.EscortPic {
  margin: 0 5vh;
  border: solid 4px #f9e713;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0 0;
}

.flex-container div {
  text-align: left;
  height: 30rem;
  width: 20rem;
  overflow: hidden;
  margin: 0 2rem;
  border: solid 4px #f9e713;
}

.flex-container p{

  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #f9e713;
  width: 100%;
  padding: 0.4rem;

}

.Description {
max-width: 100%;
background-color: #f9e713;
color: #222;
height: 18vh;
text-align: left;
margin-left: 12vw;
margin-right: 7vw;
border-left: solid 1vw #f9e713;
border-right: solid 1vw #f9e713;
border-radius: 20px;
padding-top: 1vw;
}

.Description p {
padding-top: 1vw;
font-weight: 500;
}

.custom-overlay {
  background: #f9e6133f}
.custom-modal {
  background: #b2dbbf;
  /* margin-bottom: 10vh; */
  width: 100%;
margin-top: 30vh;
}

.Blop{
  margin-left: 12vh
}


.Blop1{
  margin-left: 12vh
}

.gif {
  width:10vw; 
  height: 15vh;
  
}

