.escort-canvas {
    background: #fff;
    width: 33%;
    height: 33%;
    border: solid #f9e713 0.2rem;
}

/* ---- EscortContainer style ---- */
.container {
    position: fixed;
    width: 88vw;
    height: 100vh;
    margin-left: 12vw;

}

.escort-list {
    display: flex;
    height: 100%;
}