  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;

  }

  p {
    font-size: 14px;
  }

  .top, .bottom {
    padding: 30px;

  }

  .bottom {

    text-align: center;
  }

  .avatar {

    overflow: hidden;
    display: inline-flex;
    margin-bottom: 15px;
    border: 1px solid #000;
    width:100px;
    height:100px;

  }

  .avatar img {
    width: 100px;
    height: auto;
  }

