html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background: rgb(0, 0 , 0);
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #fff;
}

.main-title {
  margin: 4rem auto;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .15rem;
  color: #f9e713;
  width: 100%;
}