.escort-canvas {
    background: #fff;
    width: 33%;
    height: 33%;
}

/* ---- EscortContainer style ---- */
.container {
    position: fixed;
    width: 88vw;
    height: 100vh;
    margin-left: 12vw;
    display: flex;
}

.container h1 {
    margin: 4rem auto 2rem;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: #f9e713;
    width: 100%;
}