nav {
  position: fixed;
  width: 12vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  border-right: 0.4rem solid #f9e713;
}

.logo {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav-item {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
}

.nav-item ul {
  list-style: none;
  padding: 0;
}

.nav-item ul li img {
  width: 7rem;
  height: auto;
}

.nav-item ul li p {
  margin: 1rem 0 2rem;
  text-transform: uppercase;
  color: #f9e713;
  font-size: 1.2rem;
  font-weight: 600;
}

.logout {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logout img {
  width: 2.5rem;
  height: auto;
}

.logout p {
  margin: 1rem 0 2rem;
  text-transform: uppercase;
  color: #f9e713;
  font-size: 1.15rem;
  font-weight: 600;
}